body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 3em;
}

.services,
.buy-button-with-price {
    max-width: 700px;
}

input[type="checkbox"] {
    height: 1.5em;
    width: 1.5em;
    font-size: 1em;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1em;
}

h3 {
    font-size: 1.22em;
}

.service {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1em;
    margin: 2em 0em;
}

.service * {
    margin: 0px;
}

.service-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

.service-name-and-price {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 1em;
}

.service-name-and-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 0.5em;
}

.service-chosen {
    position: absolute;
    left: -2em;

}

button {
    font-size: 1em;
}

@media (pointer:coarse) {
    button {
        height: 3em;
        padding: 0em 1em;
    }

    button:active {
        background-color: rgb(71, 71, 71);
    }

}

.buy-button-with-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 100%;
    gap: 1em;
}

.button-with-price-container {
    padding: 0.5em;
    background: white;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    width: 100%;
    align-items: center;
}

.service-label {
    width: 100%;
}

input[type="tel"] {
    height: 1.5em;
}